/* React-Blueprint module css package */
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";


/* ui gradient */
.header-color {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/* header, home page and landing page */
.landing-grid {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* Bring the image to center */
  text-align: center;
  
}
.header-center {
  justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}

.avathar-img {
  height : 250px;
  padding: 2em;
  border-radius: 50%; 
  /* border: 1px solid #000000; */
}

.banner-text {
  background-color:#000000;
  border: 3px solid white;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  
  border-radius: 10px;
  
  
}

.banner-text h2 {
  font-size: 44px;
  font-weight: bold;
  color: #ffffff;
}

/* .banner-text h3 {
  font-size: 30px;
  font-weight: bold;
  color: #636363;
} */

.landing-page {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding-bottom: 250px;

  /* width: 100%; */
  /* height: 100%; */
  /* margin: 'auto';  */
}


.banner-text hr {
  border-top: 5px dotted #ffffff;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: #636363;
  font-size: 20px;
  /* padding: 1em; */
  padding-top: 10px ;
  
}

.banner-text1 {
  background-color: transparent;
  border: 3px solid white;
  opacity: 0.8;
  width: 75%;
  padding:10px;
  margin: auto;
  border-radius: 10px;
}

.banner-text1 p {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Lobster', cursive
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  /* text-align: center; */
  /* align-items: center; */
  /* align-content: center; */
  justify-content: space-around;
}

.social-links i {
  color: white;
  font-size: 2em;
  padding: 8px;
  
}






/* Contact Page */

.contact-body {
  margin: auto;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* position: relative; */
  /* width: 100%; */
  /* height: 100%; */
  padding-top: 2em;
}

.contact-grid{
  /* align-items: center; */
  /* align-content: center; */
  /* text-align: center; */
  /* justify-content: center; */
  width: fit-content;
  height: fit-content;
  flex: auto;
  padding: 30px;
  background: #3b3b3b;
  color: #ffffff;
  border: 2px solid #ffffff;
  margin-bottom: 20px;
}

.left-side {
  text-align: center;
  justify-content: center;
  padding-bottom: 30px;
}

.contact-grid h2 {
  font-family: 'Patua One', cursive;
  font-weight: 400;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
}

.contact-grid hr {
  border-top: 2px solid  black;
  width:50%;
  margin: auto;
}

.contact-list i{
  font-size: 20px;
  padding-right: 10px;
}

.right-side {
  padding-top: 100px;
  padding-bottom: 30px;
  /* align-items: center;
  justify-content: center;
  align-content: center;
   text-align: center; */
}




/* Resume Page */
.resume-leftside {
  /* text-align: center; */
  
}
.resume-rightside {
  background: #27221f;
  color: #ffffff;
  padding: 2em;
}

.resumeright-leftside {

}

.resumeright-rightside {

}

/* About */
.category-tabs {
  /* display: inline-block; */
  /* float: none; */
 /* justify-content: center; */
 /* align-items: center; */
 /* flex-wrap: wrap; */
 /* text-align: center; */
 /* padding: 10px; */
 background: #0F2027;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /* color: #ffffff; */
 
}

/* Aboutme */
.aboutme-left {
  padding: 20px;
  background-color: #ffffff ;
  color: #1f191a;
}

/* .trendyplanetbutton:hover {
  color: #ffffff;
} */


/* Project */
.project-grid {
  /* width: fit-content; */
  /* height: fit-content; */
  flex: auto;
  padding: 30px;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000000;
  /* border: 2px solid #ffffff; */
  margin-bottom: 20px;
}

.project-links {
  font-size: 2em;
  padding: 8px;
  
}
.fa-github-square {
  color: #211F1F;
}


/* icons - hover */
.fa-linkedin:hover {
  color: #0e76a8;
}

.fa-github:hover {
  color: #211F1F;
}

.fa-gitlab:hover {
  color: #FC6D27;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-telegram-plane:hover {
  color: #0088CC
}

.fa-instagram:hover {
  background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-whatsapp:hover {
  color: #25D366;
}

.fa-twitter:hover {
  color: #00acee ;
}

.fa-react {
  color: #61DBFB;
  padding: 5px;
}

.construction {
  
    margin: auto;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    /* position: relative; */
    width: 100%;
    height: 100%;
    padding-top: 2em;
  
}


/* footer */
@media (prefers-reduced-motion: no-preference) {
  .fa-react {
    animation: fa-react-spin infinite 7s linear;
  }
}

@keyframes fa-react-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





/* font families taken from google fonts */
/* 

font-family: 'Anton', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Inconsolata', monospace;
font-family: 'Lobster', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Patua One', cursive; */