body{
  .card1 {
    transition: ease-in-out 0.5s;
  }
  .demo-tabs {
    transition: ease-in-out 0.5s;
  }
  .shortfilm {
    transition: ease-in-out 0.5s; 
  }
  .hr {
    transition: ease-in-out 0.5s;
  }
  .shortfilm-b{
    transition: ease-in-out 0.5s;
  }
  .demo-tabs-b{
    transition: ease-in-out 0.5s;
  }
  .landing-grid{
    transition: ease-in-out 1s;
  }
  .banner-text {
    transition: ease-in-out 0.5s;
  }
  .banner-text h2 {
    transition: ease-in-out 0.5s;
  }
  .banner-text hr {
    transition: ease-in-out 0.5s;
  }
  .banner-text1 {
    transition: ease-in-out 0.5s;
  }
  .banner-text1 p {
    transition: ease-in-out 0.5s;
  }
  // .social-links i {
  //   transition: ease-in-out 0.5s;
  // }
  .pgheader1{
    transition: ease-in-out 0.5s;
  }
  .pgheaderlast{
    transition: ease-in-out 0.5s;
  }
  .footer {
    transition: ease-in-out 0.5s;
  }
  .footer-button {
    transition: ease-in-out 0.5s;
  }
  // .fa-github-square {
  //   transition: ease-in-out 0.5s;
  // }
  .footer-p{
    transition: ease-in-out 0.5s;
  }
  .thecard {
    transition: ease-in-out 0.5s;
  }
  .card1 {
    transition: ease-in-out 0.5s;
  }
  .project-button{
    transition: ease-in-out 0.5s;
  }
  .resume-hr-left {
    transition: ease-in-out 0.5s;
  }
  .resume-hr-right {
    transition: ease-in-out 0.5s;
  }
  .resume-rightside {
    transition: ease-in-out 0.5s;
  }
  .resume-leftside {
    transition: ease-in-out 0.5s;
  }
  .contact-grid {
    transition: ease-in-out 0.5s;
  }
  .contact-grid hr {
    transition: ease-in-out 0.5s;
  }
  .contant-group-item{
    transition: ease-in-out 0.5s;
  }
    
  }

.dark-mode {
      .pgheader1{
        transition: ease-in-out 1s;
        color: #fff;
      }
      .pgheaderlast {
        transition: ease-in-out 1s;
        color: #fff;
      }
      
      .landing-grid {
        transition: ease-in-out 2s;
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
      .header-color{
        transition: ease-in-out 2s;
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
      .landing-page{
        transition: ease-in-out 2s;
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
      }
      .banner-text {
        transition: ease-in-out 1s;
        background-color:#000;
        border: 3px solid #fff;
      }
      .banner-text h2 {
        transition: ease-in-out 1s;
        color: #fff;
      }
      .banner-text hr {
        transition: ease-in-out 1s;
        border-top: 5px dotted #fff;
      }
      .banner-text1 {
        transition: ease-in-out 1s;
        background-color: transparent;
        border: 3px solid #fff;
      }

      .banner-text1 p {
        transition: ease-in-out 1s;
       color: #fff;
      }
      .social-links i {
        // transition: ease-in-out 1s;
        color: #fff;
      }
      .contact-body {
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
      }
      .project-grid {
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
      }
      
      .card1 {
        transition: ease-in-out 1s;
      background-color: #272829;
      color: #fff;
      transition: ease-in-out 1s;
      
    }
    .demo-tabs {
      transition: ease-in-out 1s;
      background-color: #272829;
      color: #fff;
    }
    
    .shortfilm {
      transition: ease-in-out 1s;
      background-color: #000;
    }
    .trendyplanetbutton{
      transition: ease-in-out 1s;
      color: #fff;
    }
    .hr {
      transition: ease-in-out 1s;
      border-top: 3px solid #e22947;
    }
    .shortfilm-b{
      transition: ease-in-out 1s;
      color: #fff;
    }
    .demo-tabs-b{
      transition: ease-in-out 1s;
      color: #fff;
    }
    .thecard {
      transition: ease-in-out 1s;
      background-color: #000;
    }
    
    .project-button{
      transition: ease-in-out 1s;
      background-color: #272829;
      color: #fff;
      border: 1px solid #fff
    }
    .resume-hr-left {
      transition: ease-in-out 1s;
      border-top: 3px solid #833fb2;
    }
    .resume-hr-right {
      transition: ease-in-out 1s;
      border-top: 3px solid #e22947;
    }
    .resume-leftside {
      transition: ease-in-out 1s;
      background: #fff;
      color: #000;
    }
    .resume-rightside {
      transition: ease-in-out 1s;
      background: #27221f;
      color: #fff;
    }
    .contact-grid {
      transition: ease-in-out 1s;
      background: #665b5b;
      color: #fff;
      border: 2px solid #fff;
    }
    .contact-grid hr {
      transition: ease-in-out 1s;
      border-top: 2px solid  #fff;
    }
    .contant-group-item{
      transition: ease-in-out 1s;
      color: #fff;
    }


    /* icons - hover */
    .fa-linkedin:hover {
      color: #0e76a8;
    }

    .fa-github:hover {
      color: #211F1F;
    }

    .fa-gitlab:hover {
      color: #FC6D27;
    }

    .fa-facebook:hover {
      color: #3b5998;
    }

    .fa-telegram-plane:hover {
      color: #0088CC
    }

    .fa-instagram:hover {
      background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
        background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-whatsapp:hover {
      color: #25D366;
    }

    .fa-twitter:hover {
      color: #00acee ;
    }

    .footer {
      transition: ease-in-out 1s;
      background-color: #2e2f30;
    }
    .footer-button {
      transition: ease-in-out 1s;
      background: transparent;
      color: #fff;
    }
    .fa-github-square {
      transition: ease-in-out 1s;
      color: #fff;
    }
    .footer-p {
      transition: ease-in-out 1s;
      color: #fff;
    }





    
}
